@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is under policy of TTI students works policy.</p>
<p>This website was made by student of TTI Aleks Eglitis, st.76473, group 4001BDA</p>
